body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* box-sizing: content-box; */
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
